USE [master]
GO
/****** Object:  Database [HackCompany]    Script Date: 27.1.2016 г. 17:00:59 ******/
CREATE DATABASE [HackCompany]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HackCompany', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HackCompany.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HackCompany_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HackCompany_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HackCompany].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HackCompany]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 27.1.2016 г. 17:00:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Code] [char](3) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 27.1.2016 г. 17:00:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Adress] [nvarchar](50) NOT NULL,
	[Discount] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Department]    Script Date: 27.1.2016 г. 17:00:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee]    Script Date: 27.1.2016 г. 17:00:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[DateOfBirth] [date] NOT NULL,
	[Manager_Id] [int] NULL,
	[Department_Id] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 27.1.2016 г. 17:00:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Customer_Id] [int] NOT NULL,
	[TotalPrice] [money] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrdersProducts]    Script Date: 27.1.2016 г. 17:00:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersProducts](
	[Order_Id] [int] NOT NULL,
	[Product_Id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 27.1.2016 г. 17:00:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [money] NOT NULL,
	[Category_Id] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Category] ([Id], [Name], [Code]) VALUES (1, N'Books', N'BKS')
INSERT [dbo].[Category] ([Id], [Name], [Code]) VALUES (2, N'Music', N'MSC')
INSERT [dbo].[Category] ([Id], [Name], [Code]) VALUES (3, N'Hardware', N'HDW')
INSERT [dbo].[Customer] ([Id], [Name], [Email], [Adress], [Discount]) VALUES (1, N'Peshkata', N'peshkata@gmail.com', N'Sofia, Bulgaria', 20)
INSERT [dbo].[Customer] ([Id], [Name], [Email], [Adress], [Discount]) VALUES (2, N'Ivanka', N'ivanova@gmail.com', N'Varna, Bulgaria', NULL)
INSERT [dbo].[Customer] ([Id], [Name], [Email], [Adress], [Discount]) VALUES (3, N'Petra', N'petrova@gmail.com', N'Burgas, Bulgaria', NULL)
INSERT [dbo].[Department] ([Id], [Name]) VALUES (1, N'Sales')
INSERT [dbo].[Department] ([Id], [Name]) VALUES (2, N'Production')
INSERT [dbo].[Department] ([Id], [Name]) VALUES (3, N'Financial')
INSERT [dbo].[Employee] ([Id], [Name], [Email], [DateOfBirth], [Manager_Id], [Department_Id]) VALUES (1, N'Big Boss', N'bigboss@gmail.com', CAST(N'1993-01-27' AS Date), NULL, NULL)
INSERT [dbo].[Employee] ([Id], [Name], [Email], [DateOfBirth], [Manager_Id], [Department_Id]) VALUES (2, N'Ivan', N'ivanov@gmal.com', CAST(N'1957-01-27' AS Date), 1, 1)
INSERT [dbo].[Employee] ([Id], [Name], [Email], [DateOfBirth], [Manager_Id], [Department_Id]) VALUES (3, N'Pesho', N'peshev@gmail.com', CAST(N'1967-01-27' AS Date), 2, 1)
INSERT [dbo].[Order] ([Id], [Date], [Customer_Id], [TotalPrice]) VALUES (1, CAST(N'2016-01-27' AS Date), 1, 500.0000)
INSERT [dbo].[Order] ([Id], [Date], [Customer_Id], [TotalPrice]) VALUES (2, CAST(N'2016-01-27' AS Date), 2, 100.0000)
INSERT [dbo].[Order] ([Id], [Date], [Customer_Id], [TotalPrice]) VALUES (3, CAST(N'2016-01-27' AS Date), 4, 1000.0000)
INSERT [dbo].[OrdersProducts] ([Order_Id], [Product_Id]) VALUES (1, 1)
INSERT [dbo].[OrdersProducts] ([Order_Id], [Product_Id]) VALUES (1, 2)
INSERT [dbo].[OrdersProducts] ([Order_Id], [Product_Id]) VALUES (1, 3)
INSERT [dbo].[Product] ([Id], [Name], [Price], [Category_Id]) VALUES (1, N'Harry Potter 1', 50.0000, 1)
INSERT [dbo].[Product] ([Id], [Name], [Price], [Category_Id]) VALUES (2, N'Harry Potter 2', 60.0000, 1)
INSERT [dbo].[Product] ([Id], [Name], [Price], [Category_Id]) VALUES (3, N'Harry Potter 3', 70.0000, 1)
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([Department_Id])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Department]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Employee] FOREIGN KEY([Manager_Id])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Employee]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([Customer_Id])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[OrdersProducts]  WITH CHECK ADD  CONSTRAINT [FK_OrdersProducts_Order] FOREIGN KEY([Order_Id])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrdersProducts] CHECK CONSTRAINT [FK_OrdersProducts_Order]
GO
ALTER TABLE [dbo].[OrdersProducts]  WITH CHECK ADD  CONSTRAINT [FK_OrdersProducts_Product] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OrdersProducts] CHECK CONSTRAINT [FK_OrdersProducts_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
USE [master]
GO
